body {
  font-family: 'Montserrat', sans-serif;
/*Text Styling*/
  h1 {
    font-weight: 700;
    font-size: 70px;
    &.hero {
      color: #ffffff;
      padding-left: 5rem;
      padding-top: 145px;
    }
  }
  h2 {
    font-weight: 700;
    font-size: 44px;
    margin-top: 65px;
    &.alt {
      color: #ffffff;
    }
  }
  h3 {
    font-weight: 700;
    font-size: 48px;
  }
  h4 {
    font-weight: 700;
    font-size: 13px;
    color: #242526;
  }
  h5 {
    font-weight: 700;
    font-size: 12px;
    padding-top: 35px;
  }
  h6 {
    font-weight: 400;
    font-size: 12px;
  }
  p {
    font-weight: 300;
    &.hero {
      font-size: 21px;
      color: #ffffff;
      max-width: 450px;
      padding-left: 5rem;
      padding-bottom: 100px;
    }
    &.new {
      font-weight: 300;
      font-size: 16px;
    }
    &.new-text {
      color: #747474;
      font-weight: 400;
      font-size: 13px;
      padding-top: 10px;
      padding-bottom: 60px;
    }
    &.pricing {
      font-size: 16px;
      color: #ffffff;
        }
    &.subscribe {
      background-color: transparent;
      color: #ffffff;
      font-weight: 300;
      font-size: 14px;
      text-align: center;
      padding-bottom: 40px;
    }
    &.footer {
      font-weight: 300;
      font-size: 11px;
      color: #242526;
      padding-top: 50px;
    }
  }
  ul {
    list-style-image: url(../images/green-check.png);
    list-style-position: inside;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    padding: 20px;
    img {
      padding-right: 10px;
    }
    }
  a {
    &.learn {
      color: #ffffff;
      font-weight: 700;
      font-size: 10px;
      margin-left: 40px;
    }
  }
/*Navbar*/
.nav {
  background-color: #0cb3f8;
  color: #ffffff;
  margin-bottom: 0px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 700;
  font-size: 12px;
}
.nav img {
  margin-right: 10px;
}
.nav h5 {
  font-weight: 700;
  font-size: 16px;
}
.nav-links {
  color: #ffffff;
  padding: 7px;
  &.active {
    text-decoration: underline;
    text-decoration-color: #ffffff;
  }
  &.hover {
    text-decoration: underline;
  }
}
/*Row Mods*/
.row {
  /*Hero*/
  &.hero {
    background: #0cb3f8;
    padding-left: 5%;
    padding-right: 10%;
  }
  .hero-text .btn {
    width: 144px;
    height: 42px;
    border-radius: 25px;
    border-width: 1px;
    border-color: #ffffff;
    font-weight: 600;
    font-size: 10px;
    color: #ffffff;
    height: 40px;
  }
&.hero-text .btn img {
  vertical-align: sub;
  padding-right: 15px;
}
/*White Bar*/
&.white {
  background-color: #ffffff;
}
&.white.form-inline {
  vertical-align: middle;
}
&.white h5 {
  color: #292534;
  font-weight: 400;
  font-size: 13px;
  padding-top: 15px;
  letter-spacing: 1px;
}
/*New Big Thing*/
  &.new-thing {
    background-color: #f5f4f4;
    padding-bottom: 75px;
  }
/*Pricing*/
  &.pricing {
    background-color: #222222;
    padding-bottom: 70px;
  }
  .price {
    background-color: #ffffff;
    border-radius: 5px;
    width: 300px;
    height: 440px;
    margin-bottom: 40px;
    &.alt {
      background: #1b8bf9;
      color: #ffffff;
    }
  }
}
/*Jumbotron*/
.jumbotron {
  box-shadow: inset 0 0 0 100vw rgba(20, 18, 18, 0.5);
  background: var(--image-url) center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/cliffs.png");
  color: white;
}
/*Subscribe*/
.form-control {
  background-color: rgba(146, 146, 146, 0.3);
  border: none;
  border-radius: 5px;
}
/*Footer*/
footer {
  padding-top: 3rem;
  background-color: #ffffff;
&.footer-nav {
    margin-bottom: 5rem;
  }
  &.footer-nav div ul {
    list-style: none;
  }
}
  footer .footer-nav-links {
    color: #242526;
  }
  footer .footer-nav-links:hover {
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-color: #268df5;
    color: #268df5;
    border-bottom-width: 3px;
  }
  footer .social {
    padding-left: 1rem;
    width: 15px;
    height: 15px;
  }
  footer .footer-nav div ul li {
    font-weight: 700;
    font-size: 11px;
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
  }
/*Buttons*/
.btn-transparent {
  margin-left: 10%;
}
.btn-new {
  background-color: #0081ff;
  color: #ffffff;
  border-radius: 25px;
  font-weight: 400;
  font-size: 9px;
  line-height: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10%;
  width: 60px;
  height: 20px;
  box-shadow: 4px 7px 16px 0px rgba(27,139,249,0.4);
}
.btn-primary {
  background-color: #ffffff;
  color: #242526;
  border: solid 2px;
  border-color: #67b2fb;
  border-radius: 25px;
  font-weight: 700;
  font-size: 10px;
  width: 150px;
  height: 42px;
}
.btn-secondary {
  background-color: #ffffff;
  color: #242525;
  border-radius: 5px;
  font-weight: 600;
  font-size: 10px;
  width: 150px;
  height: 38px;
  padding-left: 55px;
  padding-right: 55px;
  border: none;
  margin-bottom: 50px;
}
}
