body {
  font-family: 'Montserrat', sans-serif;
  /*Navbar*/
  /*Row Mods*/
  /*Buttons*/ }
  body h1 {
    font-weight: 700;
    font-size: 70px; }
    body h1.hero {
      color: #ffffff;
      padding-left: 5rem;
      padding-top: 145px; }
  body h2 {
    font-weight: 700;
    font-size: 44px;
    margin-top: 65px; }
    body h2.alt {
      color: #ffffff; }
  body h3 {
    font-weight: 700;
    font-size: 48px; }
  body h4 {
    font-weight: 700;
    font-size: 13px;
    color: #242526; }
  body p {
    font-weight: 300; }
    body p.hero {
      font-size: 21px;
      color: #ffffff;
      max-width: 450px;
      padding-left: 5rem;
      padding-bottom: 100px; }
    body p.new {
      font-weight: 300;
      font-size: 16px; }
    body p.new-text {
      color: #747474;
      font-weight: 400;
      font-size: 13px;
      padding-top: 10px;
      padding-bottom: 60px; }
    body p.pricing {
      font-size: 16px;
      color: #ffffff; }
  body ul {
    list-style-image: url(../images/green-check.png);
    list-style-position: inside;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    padding: 20px; }
    body ul img {
      padding-right: 10px; }
  body a.learn {
    color: #ffffff;
    font-weight: 700;
    font-size: 10px;
    margin-left: 40px; }
  body .nav {
    background-color: #0cb3f8;
    color: #ffffff;
    margin-bottom: 0px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 700;
    font-size: 12px; }
  body .nav img {
    margin-right: 10px; }
  body .nav h5 {
    font-weight: 700;
    font-size: 16px; }
  body .nav-links {
    color: #ffffff;
    padding: 7px; }
    body .nav-links.active {
      text-decoration: underline;
      text-decoration-color: #ffffff; }
    body .nav-links.hover {
      text-decoration: underline; }
  body .row {
    background-color: #0cb3f8; }
    body .row.hero {
      background: #0cb3f8;
      padding-left: 5%;
      padding-right: 10%; }
    body .row .hero-text .btn {
      width: 144px;
      height: 42px;
      border-radius: 25px;
      border-width: 1px;
      border-color: #ffffff;
      font-weight: 600;
      font-size: 10px;
      color: #ffffff;
      height: 40px; }
    body .row.hero-text .btn img {
      vertical-align: sub;
      padding-right: 15px; }
    body .row.white {
      background-color: #ffffff; }
    body .row.white.form-inline {
      vertical-align: middle; }
    body .row.white h5 {
      color: #292534;
      font-weight: 400;
      font-size: 13px;
      padding-top: 15px;
      letter-spacing: 1px; }
    body .row.new-thing {
      background-color: #f5f4f4;
      padding-bottom: 75px; }
    body .row.pricing {
      background-color: #222222; }
    body .row .price {
      background-color: #ffffff;
      border-radius: 5px;
      width: 300px;
      height: 440px; }
      body .row .price.alt {
        background: #1b8bf9;
        color: #ffffff; }
  body .btn-transparent {
    margin-left: 10%; }
  body .btn-new {
    background-color: #0081ff;
    color: #ffffff;
    border-radius: 25px;
    font-weight: 400;
    font-size: 9px;
    line-height: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10%;
    width: 60px;
    height: 20px;
    box-shadow: 4px 7px 16px 0px rgba(27, 139, 249, 0.4); }
  body .btn-primary {
    background: #ffffff;
    color: #242526;
    border: solid 2px;
    border-color: #67b2fb;
    border-radius: 25px;
    font-weight: 700;
    font-size: 10px;
    width: 150px;
    height: 42px; }
